.transactionHistory {
    width: 300px;
    margin: 0 auto;
    background-color: #fff;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
}

tr:nth-child(even) {
    background-color: lightblue;
}

tr {
    text-align: center;
}

thead {
    color: #fff;
    background-color: darkcyan;
}