.item {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
    padding: 4px 12px;
    gap: 12px;
}

.status {
    width: 12px;
    height: 12px;
    border-radius: 50%;
}

.online {
    composes: status;
    background-color: green;
}

.offline {
    composes: status;
    background-color: red;
}